<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">PARTS</h1></div>
<p class="bodytext">Here is a list of project parts:</p>
<table border="1">
    <tr>
        <th>#</th>
        <th>Part name</th>
        <th>Part description</th>
    </tr>
<f:for each="{parts}" as="part">
    <tr>
        <td>{part.num}</td>
        <td>
            <f:link.action controller="Label" action="index" arguments="{part : part}">
                {part.name}
            </f:link.action>
        </td>
        <td>
            {part.description}
        </td>
    </tr>
</f:for>
</table>
<f:link.action controller="Project" action="index">&lt;&lt;Back</f:link.action>
