<h1 class="bodytext">
    <f:translate key="list_of_labels">List of labels:</f:translate> "{project.name} > {part.name}"
</h1>

<f:if condition="{suggestions_are_added}">
    <div class="message">
        <f:translate key="suggestions_are_added">Suggestions are added...</f:translate>
    </div>
</f:if>

<f:form method="post" controller="Suggestion" action="add" name="addSuggestion" object="{suggestion}" arguments="{project: project, part: part}" >
    <table border="1">
        <tr>
            <th><f:translate key="num">#</f:translate></th>
            <th><f:translate key="english_text">English Text</f:translate></th>
            <th><f:translate key="approved_translation">Approved translation</f:translate></th>
            <th><f:translate key="translate">Translate</f:translate></th>
        </tr>
        <f:for each="{labels}" as="label">
            <tr>
                <td>
                    {label.num}
                </td>
                <td>
                    {label.description}
                </td>
                <td>
                    <f:if condition="{label.approvedTranslation}">
                        <f:then>{label.approvedTranslation}</f:then>
                        <f:else>&nbsp;</f:else>
                    </f:if>
                        
                </td>
                <td>
                    <f:form.textbox name="suggestion[{label.uid}]" value="{label.userSuggestion}" />
                    <div class="suggestions">
                        <span class="other_suggestion">
                            <f:translate key="other_suggestions">Other suggestions:</f:translate>
                        </span>

                        <f:if condition="{label.suggestions}">
                            <f:then>
                                <f:for each="{label.suggestions}" as="suggestion">
                                    "{suggestion}"&nbsp;
                                </f:for>
                            </f:then>
                            <f:else>
                                <span class="none">
                                    <f:translate key="none">none</f:translate>
                                </span>
                            </f:else>
                        </f:if>
                    </div>
                </td>
            </tr>
        </f:for>
    </table>
    <f:form.submit value="{f:translate('Update' key='update')}" />
</f:form>
<f:link.action controller="Part" action="index" arguments="{project: project}">
    <f:translate key="back">&lt;&lt; Back</f:translate>
</f:link.action>
